@model DesafioRaizen.DTO.CustomerDto

@{
    ViewData["Title"] = "Edit";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEP" class="control-label"></label>
                <div class="d-flex">
                    <input asp-for="CEP" class="form-control" />
                    <button class="btn btn-primary" id="btn-validar-cep">Validar</button>
                </div>
                <span asp-validation-for="CEP" class="text-danger"></span>
                <span id="text-validar-cep"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $('#CEP').mask('99999-999');

    $('#btn-validar-cep').click(function (event) {
        event.preventDefault();
        let cep = $('#CEP')[0].value;

        $.get('https://viacep.com.br/ws/' + cep + '/json', function (data) {
            if (data['erro']) {
                $('#text-validar-cep').removeClass();
                $('#text-validar-cep').addClass("text-danger");
                $('#text-validar-cep').text("CEP Invalido!");
            }
            else {
                $('#text-validar-cep').removeClass();
                $('#text-validar-cep').addClass("text-success");
                $('#text-validar-cep').text("CEP Validado!");
            }
        });
    });

    $('#CEP').change(function (event) {
        $('#text-validar-cep').text("");
    });

</script>

<style>
    #btn-validar-cep {
        margin-left: 10px;
    }
</style>